.switchToAdvancedMode {
  position: relative;
  display: inline-block;
  font-family: var(--font-sans-serif);
  font-weight: 400;
  font-size: var(--font-size-lg);
}
.frameDiv,
.frameDiv1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameDiv {
  background-color: var(--color-teal);
  flex-direction: column;
  padding: var(--padding-4xs) var(--padding-3xl);
  box-sizing: border-box;
}
.epicBattleEventSimpleSett {
  position: relative;
  font-size: var(--font-size-base);
  display: inline-block;
  color: var(--color-gray-500);
  text-align: center;
}
.frameDiv3 {
  display: inline-block;
  cursor: pointer;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-lg);
  margin: auto; */
}
.eventViewEditSettings,
.frameDiv2 {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.frameDiv2 {
  align-self: stretch;
  background-color: var(--color-white);
  padding: var(--padding-lg);
  box-sizing: border-box;
  justify-content: center;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  text-align: center;
  display: inline;
}
.eventViewEditSettings {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  justify-content: flex-start;
  gap: var(--gap-0);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.loadingContainer {
  height: 315px;
  width: 100%;
}
.hrefAdvanced {
  color: var(--color-white);
  text-decoration: none;
  width: 100%;
}
.ghostButton {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.lightText {
  font-family: var(--font-sans-serif);
  font-style: italic;
  font-weight: 400;
  font-size: var(--font-size-lg);
  /* identical to box height */
  text-align: center;
  color: var(--color-gray-300);
}

.frameDivUnverified {
  align-self: stretch;
  background-color: var(--color-yellow);
  display: flex;
  flex-direction: column;
  padding: var(--padding-4xs) var(--padding-xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.warningText {
  color: var(--color-red);
  font-family: var(--font-sans-serif);
  font-weight: 500;
}
