.switchToAdvancedMode {
  position: relative;
  display: inline-block;
}
.frameDiv,
.frameDiv1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameDiv {
  background-color: var(--color-teal);
  flex-direction: column;
  padding: var(--padding-4xs) var(--padding-3xl);
  box-sizing: border-box;
}
.epicBattleEventSimpleSett {
  position: relative;
  font-size: var(--font-size-base);
  display: inline-block;
  color: var(--color-gray-500);
  text-align: start;
}
.frameDiv3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-lg);
}
.eventViewEditSettings,
.frameDiv2 {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.frameDiv2 {
  align-self: stretch;
  background-color: var(--color-white);
  padding: var(--padding-lg);
  box-sizing: border-box;
  justify-content: center;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.eventViewEditSettings {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  justify-content: flex-start;
  gap: var(--gap-0);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}
